version: '3.8'

services:
  mongo:
    image: mongo:8
    container_name: mongo-ktb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: bootcamp-chat
    volumes:
      - mongo_data:/data/db
    networks:
      - mongo-network

  mongodb-exporter:
    image: percona/mongodb_exporter:0.20.9
    container_name: mongodb-exporter
    restart: unless-stopped
    ports:
      - "9216:9216"
    command:
      - '--mongodb.uri=mongodb://mongo:27017'
    depends_on:
      - mongo
    networks:
      - mongo-network

networks:
  mongo-network:
    driver: bridge

volumes:
  mongo_data:
