version: '3.8'

services:
  redis:
    image: redis:7.2
    container_name: redis-ktb
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - redis-network

  redis-exporter:
    image: oliver006/redis_exporter:v1.66.0
    container_name: redis-exporter
    restart: unless-stopped
    ports:
      - "9121:9121"
    environment:
      - REDIS_ADDR=redis://redis:6379
    depends_on:
      - redis
    networks:
      - redis-network

networks:
  redis-network:
    driver: bridge

volumes:
  redis_data:
